<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
        }
        .table_heading{
            padding: 10px;
            font-family: "Times New Roman", monospace;
            font-size: 18px;
            background: bisque;
        }
        .table_cell{
            padding: 5px;
            font-family: "Fira Code", monospace;
            background: burlywood;
        }
        .database{
            margin-left: 75px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        h2{
            margin-left: 50px;
            color: darkslategray;
            margin-top: 50px;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div th:replace="admin/sidebar.html"></div>
<div class="database">
    <div class="user">
        <h2>USERS:</h2>
        <div>
            <table border="1" class="user_table">
                <tr>
                    <th class="table_heading">USER ID</th>
                    <th class="table_heading">EMAIL</th>
                    <th class="table_heading">NAME</th>
                    <th class="table_heading">PASSWORD</th>
                    <th class="table_heading">PHONE</th>
                    <th class="table_heading">ROLE</th>
                </tr>
                <tr th:each="user: ${users}">
                    <td class="table_cell" th:text="${user.userId}"></td>
                    <td class="table_cell" th:text="${user.name}"></td>
                    <td class="table_cell" th:text="${user.email}"></td>
                    <td class="table_cell" th:text="${user.password}"></td>
                    <td class="table_cell" th:text="${user.phoneNumber}"></td>
                    <td class="table_cell" th:text="${user.role}"></td>
                </tr>
                <tr>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="nano">
        <h2>NANO MATERIALS:</h2>
        <div>
            <table border="1" class="nano_table">
                <tr>
                    <th class="table_heading">NANO ID</th>
                    <th class="table_heading">FORMULA</th>
                    <th class="table_heading">NAME</th>
                    <th class="table_heading">STRUCTURE</th>
                    <th class="table_heading">PROPERTIES</th>
                </tr>
                <tr th:each="nano: ${nanoMaterials}">
                    <td class="table_cell" th:text="${nano.nanoId}"></td>
                    <td class="table_cell" th:text="${nano.name}"></td>
                    <td class="table_cell" th:text="${nano.formula}"></td>
                    <td class="table_cell" th:text="${nano.structure}"></td>
                    <td class="table_cell" th:text="${nano.properties}"></td>
                </tr>
                <tr>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="experiment">
        <h2>EXPERIMENTS:</h2>
        <div>
            <table border="1" class="exp_table">
                <tr>
                    <th class="table_heading">EXP ID</th>
                    <th class="table_heading">TYPE</th>
                    <th class="table_heading">PARAMETERS</th>
                    <th class="table_heading">NANO ID</th>
                </tr>
                <tr th:each="exp: ${experiments}">
                    <td class="table_cell" th:text="${exp.expId}"></td>
                    <td class="table_cell" th:text="${exp.type}"></td>
                    <td class="table_cell" th:text="${exp.parameters}"></td>
                    <td class="table_cell" th:text="${exp.nanoMaterial.nanoId}"></td>
                </tr>
                <tr>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="report">
        <h2>REPORTS:</h2>
        <div>
            <table border="1" class="rep_table">
                <tr>
                    <th class="table_heading">REPORT ID</th>
                    <th class="table_heading">NAME</th>
                    <th class="table_heading">CREATED AT</th>
                    <th class="table_heading">USER ID</th>
                </tr>
                <tr th:each="rep: ${reports}">
                    <td class="table_cell" th:text="${rep.reportID}"></td>
                    <td class="table_cell" th:text="${rep.name}"></td>
                    <td class="table_cell" th:text="${rep.createdAt}"></td>
                    <td class="table_cell" th:text="${rep.user.userId}"></td>
                </tr>
                <tr>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                    <td class="table_cell" th:text="NILL"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
